@media screen and (min-width: 768px){

    .card{
        width: calc(( 100% / 3) - 40px);
    }
    .card.big{
        width: calc((( 100% / 3) * 2 ) - 40px);
    }
    .aa-cards{
        width: calc((100%/2) - 40px);
    }
    .sb{
        width: 80%;
    }
    .sm{
        width: 20%;
    }
    .clean{
      justify-content: flex-start; 
    }
    .t-cards>.immagine{
        width: 30%;
    }
    .t-cards>.testo{
        width: 70%;
        align-items: flex-start;
    }
    .t-cards>.testo p{
        text-align: left;
        margin-bottom: 0;
        margin-top: 60px;
    }
    .t-cards>.testo h4{
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 992px){
    #nav.m-right,section>:first-child {
        margin-right: 11rem;
    }
    #nav.m-left,section>:first-child{
        margin-left: 11rem;
    }  
    .a-cards{
        width: calc((100% / 2) - 40px);
    }
    .aa-cards{
        width: calc((100% / 3) - 40px);
    }
    .card.big>*{
        width: 50%;
    }
    .d-ali-self{
        align-self: flex-end;
    }
    .t-cards>.immagine{
        width: 40%;
    }
    .t-cards>.testo{
        width: 60%;

    }
}
