/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* root */
/* colors */
:root {
    --blue: #0084fd;
    --skyblue: #b5ddff;
    --viola: #9792e4;
    --yellow: #fdc15f;
    --gray: #545454;
}
/* utilities */
.flex-c-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-c-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.between{
    justify-content:space-between;
}
.m-right{
    margin-right: 20px;
}
.marginr-5{
    margin-right: 5px;
}
.m-left{
    margin-left: 20px;
}
.m-top{
    margin-top: 20px;
}
.center{
    align-items: center;
}
.viola{
    background-color: violet;
    margin-top: 30px;
}
.terza{
    margin-top: 30px;
    }
.contenuto{
    margin-bottom: 30px;
}
.title{
    /* width: 50%; */
   text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: var(--blue);
}
.p{
    width: 80%;
    /* height: 30%; */
}
.btn{
    width: 40%;
    border-radius: 40px;
    padding: 8px 0;
    border: 0;
    color:white;
    background-color: var(--blue);
    /* height: 10%; */
}

.imag{
    width: 100%;
    margin-bottom: 0;
}
.white{
    background-color: white;
}
/* header */
/* nav */
header{
    background-color: var(--blue);
    width: 100%;
    min-height: 60px;
}
#nav{
    min-height: 60px;
}
.icon ,.logo{
    /* height: 2rem;
    width: 5rem; */
    margin-top: 2px;  
}
.fa-bars{
    color: white;
}
.card{
    background-color: var(--skyblue);
    width: 100%;
    border-radius: 30px;
    margin-top: 30px;
}
.icon-card{
    color: var(--blue);
    margin-top: 30px;
}

/* .big{
    min-height: 280px;
} */
.small{
   text-align: center;
}
/* second-section */
.a-cards,.ab-cards{
    width: 100%;
    margin-top: 30px;
    min-height: 150px;
    margin-bottom: 30px;
}
.first{
    border: 2px dashed rgb(16, 14, 141);
}
/* terza sezione */
.testimonials{
    width: 100%;
    margin-top: 30px;
    min-height: 150px;
}
.t-cards{
background-color: rgb(198, 160, 234);
}
.benefit{
  min-height: 50px;  
}
/* quarta sezione */
.aa-cards{
width: 100%;
margin-top: 30px;
min-height: 150px;
margin-bottom: 30px;
}
.viola .contenuto.title{
    width: 100%;
}
/* quinta sezione */
.card-f{
    background-color: aquamarine;
    /* width: 100%; */
    margin-top: 30px; 
}
/* sesta sezione */
.sb ,.sm{
    width: 100%;
}
/* footer */
footer{
    background-color: rgb(52, 50, 50) ;
}