/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* root */
/* colors */
:root {
    --blue: #0084fd;
    --skyblue: #b5ddff;
    --viola: #9792e4;
    --yellow: #fdc15f;
    --gray: #545454;
}
/* utilities */
.avatar {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-c-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-c-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.between{
    justify-content:space-between;
}
.m-right{
    margin-right: 20px;
}
.marginr-5{
    margin-right: 5px;
}
.m-left{
    margin-left: 20px;
}
.m-top{
    margin-top: 20px;
}
.m-bottom{
    margin-bottom: 20px;
}

.center{
    align-items: center;
}

.terza{
    margin-top: 30px;
    }
.contenuto{
    margin-bottom: 30px;
}
.title{
    /* width: 50%; */
   text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: var(--blue);
}
.p{
    width: 80%;
    /* height: 30%; */
}
.btn{
    width: 40%;
    border-radius: 40px;
    padding: 8px 0;
    border: 0;
    color:white;
    background-color: var(--blue);
    /* height: 10%; */
}

.imag{
    width: 100%;
    margin-bottom: 0;
}
.white{
    background-color: white;
    border-radius: 30px;
}
.black{
    color: black;
}
.white-c{
    color: white;
}
.violet-c{
    color: var(--viola);
}
.violet-b{
    background-color: var(--viola);
}
/* header */
/* nav */
header{
    background-color: var(--blue);
    width: 100%;
   
    
}
#nav{
    min-height: 60px;
}
.icon ,.logo{
    /* height: 2rem;
    width: 5rem; */
    margin-top: 2px;  
}

.fa-bars{
    color: white;
}
/* main */
/* prima sezione */
.card{
    background-color: var(--skyblue);
    width: 100%;
    border-radius: 30px;
    margin-top: 30px;
}
.icon-card{
    color: var(--blue);
    margin-top: 30px;
}
.d-ali-self>img{
    position: relative;
    bottom:-5px;
}
/* .big{
    min-height: 280px;
} */
.small{
   text-align: center;
}
/* second-section */
.second{
    background-color: var(--viola);
    margin-top: 30px;
}
.a-cards,.ab-cards{
    width: 100%;
    margin-top: 30px;
    min-height: 150px;
    margin-bottom: 30px;
}
.a-cards img{
    margin-bottom: 60px;
}
.a-cards h2{
    font-size: 35px;
}
.btn-row{
    background-color: var(--viola);
    border-radius: 50%;
    padding: 20px;
    border:0
}

/* terza sezione */
.testimonials{
    width: 100%;
    margin-top: 30px;
}
.testimonials h2{
    font-size: 30px;
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.testimonials p{
    text-align: center;
}
.t-cards{
background-color: var(--viola);
border-radius: 40px;
}
.t-cards>.immagine{
    width: 100%;
}
.benefit{
  min-height: 50px;  
}
/* quarta sezione */
.quarta{
    width: 100%;
    background-color: var(--viola);
    margin-top: 60px;
    
}
.aa-cards{
width: 100%;
margin-top: 30px;
margin-bottom: 30px;
background-color: white;
border-radius: 50px;
;
}



.benefit{
    width: 100%;
    font-size: 40px;
    margin-top: 40px;
}

/* quinta sezione */
.card-f{
    background-color: aquamarine;
    /* width: 100%; */
    margin-top: 30px; 
}
/* sesta sezione */
.sb ,.sm{
    width: 100%;
}
/* footer */
footer{
    background-color: rgb(52, 50, 50) ;
}